*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}

/*!--nav2--*/
.navbar-brand{
    align-items: center;
    size: 1rem;
}

nav{
    background: green;
}
.nav-item{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform:uppercase;
    margin-right: 15px;
}
.nav-item a:hover{
    color: black;
}
.navbar-brand{
    height: 80px;
    width: 300px;
}
.search{
    height: 45px;
    
    outline: none;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 60px;
    border-right: none;
}
.btn1{
    height: 45px;
    outline: none;
    border: none;
    background: lawngreen;
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
    font-weight: 1000;
}
.btn1:hover{
    background-color: rgb(20, 173,13);
}
/*!--navbarend--*/

/*--card--*/
.card-heading{
    text-align: center;
    font-size: 2.5rem;

}
.card-images{
    text-align: center;
}
.img-card{
    height: 300px;
    width: 500px;

}
/*--footer--*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #20262e;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 1.4rem;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*--footerend--*/